.homeWrapper {
    overflow: hidden;
}

.home {
    height: 90%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.titles {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
}

.home h1 {
    font-size: 4.8em;
    font-weight: 700;
    margin-bottom: 0.5em;
    margin-top: 0em;
}

.utility {
    display: flex;
    align-items: center;
}

.utility i {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 2.5em;
}

.skills {
    padding-left: 20px;
    padding-right: 20px;
}

.realContent {
    flex-grow: 1;
}

.headshot {
    width: 18em;
    height: 18em;
    margin-left: 1.5em;
    float: right;
    border-radius: 50%;
}