.home {
    height: 90%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.titles {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    text-align: left;
}

.home h1 {
    font-size: 4.5em;
    font-weight: 700;
}