.navbar {
    height: 60px; 
    width: 100%;
    text-align: right;
    background: #221e27;
    display: flex;
    margin-bottom: 3em;
    position: absolute;
    justify-content: center;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    z-index: 100;
}

.navbar a {
    color: #fcfcfc;
    text-decoration: none;
    margin: 20px;
    font-size: 18px;
}

.navContainer {
    display: flex;
    width: 92%;
}

a:link{
    color: #fcfcfc;
}

a:visited{
    color: #fcfcfc;
}

.active {
    font-weight: 700;
}

.links {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.homeLink {
    display: none;
}

.homeButton {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

.additional {
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}

.toggleButton {
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
} 

.toggleButton svg {
    font-size: 42px;
}

.toggleButton button {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    color: #fcfcfc;
    cursor: pointer;
  }

#open {
    height: 100vh;
    transition: 0.3s height;
    position: fixed;
    overflow: hidden;
}

#close {
    transition: 0.3s height;
}
  
#open .links {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 100px;
}

#open .homeButton {
    display: none;
}

#open .homeLink, #open .additional{
    display: inline;
}

#open a {
    text-align: left;
}

/*@media only screen and (max-width: 900px) {
    .navbar a {
      width: 70px;
    }
  }*/
  
  @media only screen and (max-width: 700px) {
    .toggleButton {
      display: flex;
    }
    #close .links {
      display: none;
    }
  }

.filler{
  height: 60px;
}
  
  